<!--  views/admin/public/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/basic.css">
</head>
<!-- begin navbar header-->
<nav clsaa="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="/images/node.jpg" height="44px;" alt="">
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Manage Product</a></li>
                    <li class="active"><a href="#">System Setting</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>Welcome, <%=userinfo.username%></a></li>
                    <li><a href="/admin/login/loginOut">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
     <!-- end navbar header-->    
   