<!--  views/admin/public/asideleft.ejs -->
<a href="#" class="list-group-item avtive">Manage Product</a>
<a href="/admin/product" class="list-group-item">List of Product</a>
<a href="/admin/product/add" class="list-group-item">Add Product</a>
<a href="#" class="list-group-item avtive">Manage User</a>
<a href="/admin/user" class="list-group-item">List of User</a>
<a href="/admin/user/add" class="list-group-item">Add User</a>